*.o
/asxmak/linux/build/as1802
/asxmak/linux/build/as2650
/asxmak/linux/build/as430
/asxmak/linux/build/as6100
/asxmak/linux/build/as61860
/asxmak/linux/build/as6500
/asxmak/linux/build/as6800
/asxmak/linux/build/as6801
/asxmak/linux/build/as6804
/asxmak/linux/build/as6805
/asxmak/linux/build/as6808
/asxmak/linux/build/as6809
/asxmak/linux/build/as6811
/asxmak/linux/build/as6812
/asxmak/linux/build/as6816
/asxmak/linux/build/as740
/asxmak/linux/build/as78k0
/asxmak/linux/build/as78k0s
/asxmak/linux/build/as8008
/asxmak/linux/build/as8008s
/asxmak/linux/build/as8048
/asxmak/linux/build/as8051
/asxmak/linux/build/as8085
/asxmak/linux/build/as89lp
/asxmak/linux/build/as8x300
/asxmak/linux/build/as8xcxxx
/asxmak/linux/build/asavr
/asxmak/linux/build/ascheck
/asxmak/linux/build/asez80
/asxmak/linux/build/asf2mc8
/asxmak/linux/build/asf8
/asxmak/linux/build/asgb
/asxmak/linux/build/ash8
/asxmak/linux/build/aslink
/asxmak/linux/build/asm8c
/asxmak/linux/build/aspic
/asxmak/linux/build/asrab
/asxmak/linux/build/asscmp
/asxmak/linux/build/asst6
/asxmak/linux/build/asst7
/asxmak/linux/build/asst8
/asxmak/linux/build/asxcnv
/asxmak/linux/build/asxscn
/asxmak/linux/build/asz280
/asxmak/linux/build/asz8
/asxmak/linux/build/asz80
/asxmak/linux/build/s19os9
/asxmak/linux/exe/as1802
/asxmak/linux/exe/as2650
/asxmak/linux/exe/as430
/asxmak/linux/exe/as6100
/asxmak/linux/exe/as61860
/asxmak/linux/exe/as6500
/asxmak/linux/exe/as6800
/asxmak/linux/exe/as6801
/asxmak/linux/exe/as6804
/asxmak/linux/exe/as6805
/asxmak/linux/exe/as6808
/asxmak/linux/exe/as6809
/asxmak/linux/exe/as6811
/asxmak/linux/exe/as6812
/asxmak/linux/exe/as6816
/asxmak/linux/exe/as740
/asxmak/linux/exe/as78k0
/asxmak/linux/exe/as78k0s
/asxmak/linux/exe/as8008
/asxmak/linux/exe/as8008s
/asxmak/linux/exe/as8048
/asxmak/linux/exe/as8051
/asxmak/linux/exe/as8085
/asxmak/linux/exe/as89lp
/asxmak/linux/exe/as8x300
/asxmak/linux/exe/as8xcxxx
/asxmak/linux/exe/asavr
/asxmak/linux/exe/ascheck
/asxmak/linux/exe/asez80
/asxmak/linux/exe/asf2mc8
/asxmak/linux/exe/asf8
/asxmak/linux/exe/asgb
/asxmak/linux/exe/ash8
/asxmak/linux/exe/aslink
/asxmak/linux/exe/asm8c
/asxmak/linux/exe/aspic
/asxmak/linux/exe/asrab
/asxmak/linux/exe/asscmp
/asxmak/linux/exe/asst6
/asxmak/linux/exe/asst7
/asxmak/linux/exe/asst8
/asxmak/linux/exe/asxcnv
/asxmak/linux/exe/asxscn
/asxmak/linux/exe/asz280
/asxmak/linux/exe/asz8
/asxmak/linux/exe/asz80
/asxmak/linux/exe/s19os9
